.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    padding: 2rem;
    background-color: var(--dark-gray-color);
}

.header--logo-wrapper {
    display: block;
}

.header--logo {
    max-width: 100px;
    width: 100%;
    border-radius: 50%;
    transition: all .3s ease;
}

.header--title {
    text-align: center;
    color: var(--white-color);
    letter-spacing: 0.05em;
    transition: all .3s ease;
}

.header--subtitle {
    font-size: 1.2rem;
    letter-spacing: 0.01em;
}

@media screen and (max-width: 768px) {
    .header--title {
        font-size: 1.1rem;
        letter-spacing: 0.01em;
    }
    .header--logo {
        max-width: 50px;
    }
    .header {
        flex-direction: row;
        justify-content: space-between;
        gap: 1.5rem;
    }
}

@media screen and (max-width: 400px) {
    .header--title {
        font-size: 1rem;
    }
}

@media screen and (max-width: 360px) {
    .header--logo {
        max-width: 50px;
    }
    .header--title {
        font-size: 0.9rem;
    }
}