.menuButton {
    display: flex;
    justify-content: center;
}

.menuButton--button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: var(--white-color);
    background: var(--dark-gradient);
    background-blend-mode: multiply,multiply;
    padding: 1rem 2rem;
    transition: all .3s ease;
    border-radius: 50px;
}

.menuButton--icon {
    width: 20px;
}

.menuButton--button:hover {
    transform: scale(0.95);
}

@media screen and (max-width: 768px) {
    .menuButton--button {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 360px) {
    .menuButton--button {
        font-size: 0.85rem;
    }
}